<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>About pets!</h1>

{#    This is how disctionary works#}

    {%for i in data%}
        <h2>Pet {{ forloop.counter }}</h2>
        Surname:{{ i.second_name}}
        Name:{{ i.name}}
        Salary:
        {% if i.salary > 50000 %}
        <b style="color:green;">{{ i.salary }}</b>

        {% else%}
            <b style="color:red;">{{ i.salary }}</b>
        {% endif %}

        <br>
    {% endfor %}


</body>
</html>